.cardWrapper {
  width: 60vw;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 0 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.cardWrapper:hover {
  box-shadow: 0 3px 10px darkgrey;
}

.card {
  display: flex;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
}

.detailsWrapper {
  display: flex;
}

.cardItemsWrapper {
  list-style: none;
}

.starWrapper {
  text-align: right;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.rating {
  color: #ffbe0b;
  font-weight: 800;
}

@media (max-width: 720px) {
  .cardWrapper {
    width: 80vw;
  }
  .card {
    flex-direction: column;
  }
  .cardItemsWrapper {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .cardWrapper {
    width: 90vw;
  }
}
